header{
    background-image: url(https://www.bancor.com.ar/static/footerbg-3579b5a….jpg);
    min-height: 150px;
}

.container{
    max-width: 720px;
}

section{
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 32px;
    overflow: visible;
}

.card-login{
    background: #fff;
    color: #000;
    margin-top: -24px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 32px rgb(7 48 46 / 20%), 0px 0px 1px rgb(7 48 46 / 20%);
}

.btn-primary{
    background-color: #005F5A;
    border-radius: 100px;
    border:none;
}


.form-control{
    border-radius: 12px;
}

.form-control:focus{
    border-color: #005F5A;
    box-shadow: none;
}

.form-floating>.form-control{
    height: 65px;
}

.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{
    color: #005F5A;
    opacity: 1;
}

.alert-danger{
    background-color: #FFCAD5;
    border: none;
}